.file-banner {
    display: flex;
    margin: auto;
    box-shadow: var(--table-box-shadow);
    padding: 30px;
    width: 70vw;
    justify-content: space-between;
}

.results-text {
    font-family: var(--default-font-family);
    font-size: 3ch;
    color: var(--default-dark-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.results-icon {
    height: 50px;
    width: 50px;
}

.dnd-text {
    font-family: var(--default-font-family);
    font-size: 1vw;
    color: var(--default-dark-color);
    background-color: var(--default-light-color);
    border: dotted;
    padding: 20px;
    cursor: pointer;
}

.upload-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    height: 14vw;
    justify-content: space-between;
}

.csv-button {
    font-family: var(--default-font-family);
    font-size: 1.4vw;
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    border: none;
    box-shadow: 3px 3px 6px 1px var(--default-dark-color);
    width: 90%;
    padding: 18px;

    &:hover {
        background-color: var(--default-hover);
        transition: var(--default-hover-time);
    }
    &:active {
        background-color: var(--default-active);
        transition: var(--default-click-time);
    }
    &:disabled {
        background-color: var(--default-disabled-color);
        transition: var(--default-click-time);
    }
}

.temp-button {
    border: none;
    font-family: var(--default-font-family);
    font-size: 1vw;
    text-decoration: underline;
    color: var(--default-dark-color);
    background-color: var(--default-text-color);
    cursor: pointer;

    &:hover {
        color: var(--table-dark-color);
        transition: var(--default-hover-time);
    }

    &:active {
        color: var(--table-dark-alt);
        transition: var(--default-click-time);
    }
}
