.header-banner {
    display: flex;
    box-shadow: var(--title-box-shadow);
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.product-conversion-tool-title {
    font-family: var(--default-font-family);
    color: var(--title-bg-color);
    font-weight: bolder;
    font-size: 2vw;
}

.header-button {
    font-family: var(--default-font-family);
    font-size: 1vw;
    color: var(--default-text-color);
    background-color: var(--unset-bg-color);
    border-color: var(--unset-active) var(--unset-bg-color)
        var(--unset-bg-color) var(--unset-active);
    box-shadow: var(--default-box-shadow);
    width: 10vw;
    padding: 2vh 0 2vh 0;
    
    &:hover {
        background-color: var(--unset-hover);
        transition: var(--default-hover-time);
    }

    &:active {
        background-color: var(--unset-active);
        transition: var(--default-click-time);
    }
}

.medical-inno-logo {
    width: 10vw;
}
