@import url("styles.css");

.MainApp {
    align-content: center;
    text-align: center;
    display: block;
    width: 100%;
}
.file-buttons {
    width: 1/3vw;
}

.csv-button-container {
    align-content: center;
    width: 100%;
}