.item-table {
    width: 70vw;
    margin: 4vh auto;
    border-collapse: collapse;
    text-align: left;
    color: var(--table-header-color);
    font-family: var(--default-font-family);

    tr {
        border: 1px solid var(--table-header-color);
        position: relative;
    }

    th {
        font-weight: bold;
        font-size: large;
        text-wrap: nowrap;
    }

    td,
    th {
        color: var(--dark-alt-color);
        padding: 10px 20px;
    }

    .table-cell-container-unselected {
        overflow: hidden;
        max-height: 140px;
        transition: max-height 1s;
        text-align: center;
    }

    .table-cell-container-selected {
        // overflow: hidden;
        text-align: center;
        max-height: 1000px;
        transition: max-height 1s;
    }
    
    td {
        font-size: small;
        overflow: hidden;
        height: 100px;
        vertical-align: top;
        p {
            margin-top: 20px;
            overflow: hidden;
            height: 100px;
            width: 10vw;
            align-content: center;
        }
        textarea {
            border: none;
            font-family: var(--default-font-family);
            font-size: small;
            background-color: var(--default-text-color);
            color: var(--table-header-color);
            min-height: 100px;
            text-wrap: wrap;
            resize: none;
            margin-top: 20px;
            align-content: center;
        }
        .search-desc-container {
            margin-top: 20px;
            height: 100px;
            width: 10vw;
            align-content: center;
        }
    }
}

.comp-desc-cell-new {
    background-color: var(--table-light-color);
}

.cell-button-container {
    margin-top: 20px;
    height: 100px;
    align-content: center;
}

.button-cell {
    font-size: 2ch;
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    text-align: center;
    padding: 10px 15px;

    &:hover {
        transition: var(--default-hover-time);
        background-color: var(--default-hover);
    }

    &:active {
        transition: var(--default-click-time);
        background-color: var(--default-active);
    }
}

.button-cell-unset {
    @extend .button-cell;
    background-color: var(--unset-bg-color);

    &:hover {
        background-color: var(--unset-hover);
    }

    &:active {
        background-color: var(--unset-active);
    }
}

.button-cell-new {
    @extend .button-cell;
    background-color: var(--default-dark-color);

    &:hover {
        background-color: var(--table-dark-color);
    }

    &:active {
        background-color: var(--table-dark-alt);
    }
}

.button-cell-match {
    @extend .button-cell;
    background-color: var(--default-dark-color);

    &:hover {
        background-color: var(--table-dark-color);
    }

    &:active {
        background-color: var(--default-dark-alt);
    }
}

.button-cell-usethis {
    @extend .button-cell;
    background-color: var(--default-alt-color);

    &:hover {
        background-color: var(--default-alt-hover);
    }

    &:active {
        background-color: var(--default-alt-active);
    }
}

.remove-row-button {
    width: fit-content;
    position: absolute;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    right: 5px;
    top: 5px;
    &:hover {
        background-color: rgb(233, 109, 109);
        transition: all 500ms;
    }
    &:active {
        background-color: rgb(121, 8, 8);
        transition: all 50ms;
    }
}

.remove-icon {
    height: 20px;
}