.item-table {
    width: 70vw;
    margin: 4vh 0;

    th {
        font-weight: bold;
        font-size: large;
    }

    .td,
    th {
        font-family: var(--default-font-family);
        color: var(--dark-alt-color);
        padding: 5px;
    }
}

.button-cell {
    &:hover {
        transition: var(--default-hover-time);
        background-color: var(--default-hover);
    }

    &:active {
        transition: var(--default-click-time);
        background-color: var(--default-active);
    }
    font-family: var(--default-font-family);
    font-size: 2ch;
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
}

.button-cell-unset {
    &:hover {
        transition: var(--default-hover-time);
        background-color: var(--unset-hover);
    }

    &:active {
        transition: var(--default-click-time);
        background-color: var(--unset-active);
    }
    font-family: var(--default-font-family);
    font-size: 2ch;
    color: var(--default-text-color);
    background-color: var(--unset-bg-color);
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
}

.button-cell-match {
    &:hover {
        transition: var(--default-hover-time);
        background-color: var(--table-dark-color);
    }

    &:active {
        transition: var(--default-click-time);
        background-color: var(--default-dark-alt);
    }
    font-family: var(--default-font-family);
    font-size: 2ch;
    color: var(--default-text-color);
    background-color: var(--default-dark-color);
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
}
